.me{
    display: flex;
}
.me .me-image{
    width: 50%;
    height: 100%;
    /* border: red solid; */
}
.me .me-text{
    width: 50%;
    height: 100%;
    /* border: blue solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.me .me-text h1{
    font-size: 15vh;
    color: #87AAAA;
}
.me .me-text button{
    margin-top: 5%;
    padding: 10px;
    border:1px black solid;
    font-size: 3vh;
    display: flex;
    align-items: center;
    gap: 10px;
}
.fullAbout{
    position: relative;
    /* border: white solid; */
    width: 100%;
    top: 0;
    overflow: hidden;
    /* background: black; */
    color:rgb(75, 75, 75);
}

 .back{
   height: 90%;
   z-index: 999;
   position: relative;
   overflow: hidden;
 }
 .cir1, .cir2,.cir3,.cir4{
    animation: cir1 8s infinite;
    width: 60%;
    height:100%;
    background: #87AAAA;
    filter: blur(100px);
    border-radius: 50%;
    position: absolute;
 }
 .cir1{
    transform: translate(-50%,-50%);
 }
 @keyframes cir1 {
    0%{width: 60%;
        height:100%;}
    50%{width: 0%;
        height:0%;}
    100%{width: 60%;
        height:100%;}
 }
 .cir2{
    right: 0;
    bottom: 0;
    transform: translate(50%,50%);
 }
 .cir3{
    z-index: -1;
    bottom: 0;
    transform: translate(-50%,50%);
 }
.cir4{
    right: 0;
    z-index: -1;
    top: 0;
    transform: translate(50%,-50%);

}
.fullAbout .text{
    margin: 0;
    padding: 0;
    font-size: 15vh;
    color: #87AAAA;
    /* color: white; */
    transform: translateY(100%);
    /* border: red solid; */
}
.fullAbout .hr{
        border: 2px solid #4b4b4b;
        height: 94%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 20%; */
        top: 0;
        left: 50%;
        transform: translateY(-120%);
}

.college, .Diploma, .school{
    opacity: 0;
    width: 40%;
}
.college{
    /* border: black solid; */
    display: flex;
    align-items: start;
    gap: 10px;
    position: absolute;
    /* top: 10%; */
    left: 10%;
}
.college img, .Diploma img, .school img{
    margin-top: 20px;
    width: 50px;
    height: 30px;
}
.Diploma{
    /* border: black solid; */
    display: flex;
    align-items: start;
    gap: 10px;
    position: absolute;
    float: right;
    top: 25%;
    right: 9%;
}
.school{
    display: flex;
    align-items: start;
    gap: 10px;
    position: absolute;
    float: right;
    top: 60%;
    left: 10%;
}
.college h1,.Diploma h1,.school h1{
    font-size:6vh;
}

.experience{
    position: relative;
    /* border: blue solid; */
    height: 100%;
    /* overflow: hidden; */
    background: transparent;
    /* color: white; */
    color:rgb(75, 75, 75);
}
.experience .ex-text{
    font-size: 30vh;
    transform: translateX(100%);
    /* color: rgb(94, 0, 0); */
    color: #87AAAA;
}
.company-text{
    font-size: 8vh;
}
.exp-project{
    width:40%;
    height: 50%;
    display: flex;
    /* border: black solid; */
    align-items: center;
    justify-content: space-evenly;
    /* border: red solid; */
}
.about-company{
    width: 100%;
    /* border: black solid; */
 display: flex;
 margin-top: 3%;
}
.intern-abt h1{
    font-size: 3vh;
}
.intern-abt{
    padding-left: 1rem;
    width: 60%;
    height: 100%;
    /* border: red solid; */
}

.calculator, .notes-hub{
    width: 30%;
    height: 70%;
    border-radius: 20px  ;
    border: black solid;
    /* background: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    /* opacity: 0; */
}
.calculator:hover, .notes-hub:hover{
    scale: 1.2;
    transition: 0.5s;

}

.calculator h1, .calculator h1{
    /* color: white; */
    color:rgb(75, 75, 75);

}
.calculator img, .notes-hub img{
    width: 60%;
}
.calculator button, .notes-hub button{
    margin-top: 10%;
    /* color: white; */
    color:#4b4b4b;
    padding:5px 10px ;
    border:1px #4b4b4b solid;
}
@media screen and (max-width: 700px) {
    .me{
        display: flex;
        flex-direction: column;
    }
    .me .me-image{
        width: 100%;
        height: 100%;
        display: none;
    }
    .me .me-text{
        width: 100%;
        height: 100%;
    }
    .me .me-text h1{
        font-size: 10vh;
        color: #87AAAA;
    }
    .me .me-text p{
        padding: 10px;
    }
    .college, .school{
        flex-direction: column;
        width: 45%;
        left: 4%;
        /* border: black solid; */
        /* left: 0; */
    }
    .Diploma{
        flex-direction: column;
        /* border: black solid; */
        right: 6%;
    }
    .school{
        top: 60%;
        width: 50%;
        /* border: black solid; */
    }
    .college h1{
        font-size:3vh;
    }
    .Diploma h1{
        font-size: 3vh;
    }
    .school h1{
        font-size: 3vh;
    }
    .experience{
        height: 100%;
    }
    .experience .ex-text{
        font-size: 10vh;
        transform: translateX(100%);
    }
    .company-text{
        font-size: 5vh;
    }
    .exp-project{
        margin-top: 10%;
        width:100%;   
        height: 50%;
    }
    .calculator, .notes-hub{
        width: 30%;
        height: 60%;
    }
    .about-company{
     flex-direction: column;
    }
    .intern-abt{
        width: 100%;
    }
}